<h1>Eat-Da-Burger!</h1>

<h2>Burgers that haven't been eaten</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Eat
	</button>
</li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  <li>
	{{burger_name}}
</li>
  {{/if}}
  {{/each}}
</ul>

<h2>Order a burger</h2>
<form id="insert-form">

  <div class="form-group">
    <label for="burgerName">Burger Type:</label>
    <input type="text" id="burgerName" name="name">
  </div>

  <button type="submit" id="orderButton">Submit Order</button>
</form>