<div class="header">
  <h1>Eat-Da-Burger!</h1>
</div>

<div class="row">

  <div class="col">

    <h2>Burgers that haven't been eaten</h2>

    <ul class="list-group">
      {{#each burgers}}
      {{#unless devoured}}
      <li class="list-group-item"> 
        {{burger_name}}

        <button class="btn btn-danger change-eat" data-id="{{id}}" data-newdevoured="{{devoured}}">Eat</button>
        
      </li>
      {{/unless}}
      {{/each}}
    </ul>
  </div>


  <div class="col">

    <h2>Burgers that have been eaten</h2>

    <ul class="list-group">
      {{#each burgers}}
      {{#if devoured}}
      <li class="list-group-item">
        {{burger_name}}
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<h2>Order a burger</h2>
<form id="insert-form">

  <div class="form-group">
    <label for="burgerName">Burger Type</label>
    <input type="text" id="burgerName" name="name">
  </div>

  <button type="submit" class="btn btn-danger" id="orderButton">Submit Order</button>
</form>